<div class="container">
<h1>Simple First Blog in Rails</h1>
<br>


<% @posts.each do |post| %>

    <div class="message_title">
        <h2><%= post.title %></h2>
    </div>
    <div class="message_body">
        <p><%= truncate(post.body, :length => 50 ) %></p>
        <br>
        <%= link_to "Read Post", post %>
    </div>

<% end %>
</div>    